.top {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.link_hero {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9999;
}

.vote {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem 0.75rem;
  background-color: #0b0e14;
  color: #fff;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 9999px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.3s ease;
  font-size: 14px;
  margin-bottom: 2.5rem;
  box-shadow:
    -20px -10px 35px hsla(180, 100%, 70%, 0.05),
    20px 10px 35px hsla(201, 85%, 55%, 0.05);
  transition: 0.3s ease;
}

.vote:hover {
  gap: 1rem;
}

.greed {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: start;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1300px;
  z-index: 100;
  pointer-events: none;
  padding-top: calc(58px + 5rem);
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
}

.greed p {
  font-size: 1.125rem;
  color: #fff;
  opacity: 0.8;
  font-weight: 400;
  max-width: 80%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  z-index: 0;
  text-align: start;
  position: relative;
  pointer-events: none;
  max-width: 700px;
  padding: 4rem 4rem;
  background-image: linear-gradient(90deg, #000000, transparent);
}

.text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.logo {
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}

.image_logo {
  width: 96px;
  height: 96px;
  background-image: url("/w.png");
  background-position: center;
  background-size: contain;
  z-index: 8888;
  position: relative;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    inset 0 0 10px rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}

.light_r {
  content: "";
  position: absolute;
  top: -24px;
  left: -100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #0070c9;
  z-index: 10;
  filter: blur(100px);
}

.light_l {
  content: "";
  position: absolute;
  top: -24px;
  background: #265d88;
  right: -100%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 10;
  filter: blur(100px);
}

.top h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 100%;
  z-index: 100;
  pointer-events: all;
}

.container_greed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
  bottom: 10%;
}

.price {
  font-size: 10px;
  background-color: var(--blue-color);
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.title_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: max-content;
  padding-right: 0.5rem;
  z-index: 2;
  position: relative;
  color: #fff;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: start;
  text-align: start;
  justify-content: start;
  width: 100%;
  gap: 1rem;
  pointer-events: all !important;
}

.spans span {
  font-weight: 400 !important;
  font-size: 14px;
}

.spans {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 100%;
}

.model_wrapper {
  position: absolute;
  height: 600px;
  width: 600px;
  right: 0rem;
  z-index: 0;
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  pointer-events: all;
}

.icon {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-radius: 9999px;
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 1px inset;
  background: linear-gradient(180deg, #ffffff 0, #111111 65.62%);
  position: relative;
  background: linear-gradient(180deg, #242424, #121212 65.62%);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  text-align: center;
  transition: 0.3s ease;
  margin-top: 2rem;
  pointer-events: all;
}

.icon::before {
  content: "";
  position: absolute;
  background-clip: padding-box;
  inset: 0;

  border-radius: inherit;
  pointer-events: none;
  z-index: -1;
  border: 2px solid transparent;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.12) 48%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.12) 52%,
      rgba(255, 255, 255, 0) 100%
    )
    border-box;

  background-size: 300% 100%;
  background-position: 0% 0%;
  animation: shimmerBorder 10s linear infinite;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

@keyframes shimmerBorder {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 300% 0%;
  }
}

.icon:hover {
  background: rgba(255, 255, 255, 0.2);
}

.video_player {
  height: 80vh;
  aspect-ratio: 16/9;
  position: absolute;
  bottom: 0;
  right: -15%;
  z-index: -1;
  border-radius: 20px 0 0 0;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
  object-fit: cover;
}

.ph {
  width: 250px;
  height: 54px;
}

@media (max-width: 1000px) {
  .greed {
    justify-content: start;
  }

  .top {
    margin-bottom: 0;
  }

  .video_player {
    display: none;
  }

  .model_wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    margin-top: 5rem;
    margin-bottom: 1rem;
  }

  .text h1 {
    font-size: 52px;
    max-width: 600px;
    line-height: 60px;
  }

  .text p {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .text {
    padding: 24px;
  }

  .link_hero {
    position: fixed;
  }
}

@media (max-width: 500px) {
  .greed {
    padding-top: 58px;
  }

  .text h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
  }
}
