.main {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 58px;
  background-image: url("/bghero.webp");
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.license_modal_overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(30px) saturate(180%);
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  top: 0;
}

.title h3 {
  font-size: 3.5rem;
  letter-spacing: -0.025em;
  line-height: 100%;
  margin-top: 1rem;
  text-wrap: balance;
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: unset;
}

.title p {
  color: #f1f7feb5;
  line-height: 1.6;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  margin-top: 0.5rem;
}

.privacy {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.block {
  display: flex;
  flex-direction: column;
}

.block h1 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.block p {
  line-height: 1.75rem;
  text-wrap: pretty;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #f1f7feb5;
}

.block {
  line-height: 1.75rem;
  text-wrap: pretty;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #f1f7feb5;
}

.subparagraph {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.subparagraph h2 {
  color: #fff;
  font-weight: 600;
  margin-top: 1.25rem;
}

.subparagraph span {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.subparagraph p {
  margin: 6px 0;
  font-size: 14px;
}

.subparagraph strong,
.strong {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
.separate {
  margin: 6px 0;
  display: flex;
  flex-direction: column;
}

.separate p {
  margin: 6px 0;
}

.link {
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.code {
  padding: 2px 4px;
  background-color: rgba(0, 255, 234, 0.185);
  border-radius: 6px;
}

.image {
  width: 170px;
  height: 170px;
  background-image: url("/w.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
  image-rendering: optimizeQuality;
  position: relative;
  z-index: 1;
}

@media (max-width: 500px) {
  .title h3 {
    font-size: 48px;
  }
}
