.main {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100vh;
}

.greed,
.laptop,
.features,
.footer {
  scroll-snap-align: start;
  height: 100vh !important;
}

.top {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greed {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  position: relative;
  width: 100%;
}

.price {
  font-size: 10px;
  background-color: var(--blue-color);
  padding: 0.1rem 0.25rem;
  border-radius: 5px;
  margin-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.greed p {
  font-weight: 400;
  max-width: 600px;
  color: #a1a1a1;
  font-size: 20px;
}

.top h1 {
  font-size: 64px;
  font-weight: 700;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.15;
  position: relative;
}

.top span {
  color: #fff;
}

.title_box {
  color: #fff;
}

.flex_row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.title_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: max-content;
  padding-right: 0.5rem;
  z-index: 2;
  position: relative;
}
.apple {
  width: 64px;
  height: 64px;
  margin-bottom: 0.35rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
}

.buttons_modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.container_greed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1rem;
  position: absolute;
  bottom: 10%;
}

.spans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 14px;
  color: #a1a1a1 !important;
}

.spans span {
  color: #a1a1a1 !important;
}

.download {
  color: #2f3031;
  background: #e6e6e6;
  flex-direction: row;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.download:hover {
  background-color: #ccc;
}

.purchase {
  color: #fff;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.03),
    hsla(0, 0%, 100%, 0.1)
  );
  flex-direction: row;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  min-height: 36px;
  padding: 8px 12px;
  font-size: 14px !important;
  font-weight: 500;
  height: 36px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  backdrop-filter: blur(30px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.purchase:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.purchase p {
  font-size: 14px !important;
  font-weight: 500;
  color: #fff;
  font-family: "FiraCode", sans-serif !important;
}

.apple_s {
  width: 20px;
  height: 20px;
  margin-bottom: 0.2rem;
}

.laptop {
  margin-top: 5rem;
  width: 1700px;
  height: 100vh;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  height: 550px;
  aspect-ratio: 16/9;
  border-radius: 40px;
  /* background-image: url("/laptop.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.holders {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.holders:last-of-type {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.holders:first-of-type {
  padding: 120px;
}

.block {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-bottom: 1px solid rgb(210, 210, 215);
  height: max-content;
  backdrop-filter: blur(30px) saturate(180%);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 1px inset;
  border: 1px solid #ffffff0f;
  background: linear-gradient(90deg, #fff0 0%, #0f0f0fbf 50%, #fff0 100%);
  padding: 0 2rem;
  border-radius: 16px;
}

.text {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.text h2 {
  font-weight: 500;
  font-size: 24px;
  padding: 24px 0;
}

.chevron {
  width: 20px;
  height: 20px;
  transition: 0.3s ease;
}

.selected {
  rotate: 180deg;
}

.description {
  display: flex;
  text-wrap: balance;
  text-align: left;
  max-width: 325px;
  font-size: 17px;
  line-height: 1.4705882353;
  font-weight: 400;
  opacity: 0.7;
}

.description_holder {
  width: 100%;
  display: flex;
  padding-bottom: 24px;
}

.features {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features_inner {
  display: grid;
  width: 100%;
  max-width: 1400px;
  gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  background-color: red;
  padding: 1.5rem;
  aspect-ratio: 1/1;
  justify-content: center;
  border-radius: 16px;
  backdrop-filter: blur(30px) saturate(180%);
  box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 1px inset;
  border: 1px solid #ffffff0f;
  background: linear-gradient(90deg, #fff0 0%, #0f0f0fbf 50%, #fff0 100%);
}

.feature h2 {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  max-width: 200px;
  text-wrap: balance;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.link {
  width: 32px;
  height: 32px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  gap: 0.75rem;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  z-index: 7000;
}

.link:last-of-type {
  width: max-content;
  padding: 0 8px;
}

.link:hover {
  opacity: 1;
}

.footer {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding-bottom: 20vh;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.wallper {
  font-size: 18rem;
  pointer-events: none;
  position: absolute;
  bottom: -10rem;
  font-weight: 700;
  background: linear-gradient(to bottom, #007aff 0%, transparent 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.videoWrapper {
  position: fixed;
  overflow: hidden;
  margin: 0 auto;
  bottom: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 0;
}

.windowDots {
  position: absolute;
  top: 8px;
  left: 8px;
  display: flex;
  gap: 6px;
  z-index: 9999;
}

.windowDots div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f56;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #27c93f;
}

.video_player {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
  filter: brightness(0.6);
  transition: 0.3s ease;
  position: relative;
}

.blur {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  backdrop-filter: blur(30px) saturate(180%);
  color: #fff;
  flex-direction: row;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
  padding: 8px 12px;
  font-size: 14px !important;
  font-weight: 500;
  height: 36px;
  cursor: pointer;
  border-radius: 8px;
  z-index: 9999;
  backdrop-filter: blur(30px) saturate(180%);
  transition: 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.video_blurred {
  filter: blur(30px) brightness(0.4) !important;
  transition: 0.3s ease;
}

.progress {
  position: absolute;
  bottom: 1em;
  left: 0;
  width: 10%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  gap: 0.5rem;
  padding: 6px 6px;
}

.progress_step {
  height: 5px;
  border-radius: 5px;
  position: relative;
  transition: 0.3s ease;
}

.blur:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.license_modal_overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(30px) saturate(180%);
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.license_modal {
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  text-align: start;
  position: relative;
  box-shadow: inset 0 1px 1px 0 hsla(0, 0%, 100%, 0.15);
  backdrop-filter: blur(30px) saturate(180%);
  border: 1px solid hsl(0deg 0% 100% / 6%);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(36, 36, 36, 0.75) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s ease;
  animation: moveUp 0.5s ease;
  width: max-content;
  z-index: 100;
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0);
  }
}

.license_modal h2 {
  font-size: 13px;
  font-weight: 500;
  color: #efefef;
}

.license_modal_header p {
  font-size: 12px;
  font-weight: 400;
  color: #6a6b6c;
  max-width: 60%;
  margin-top: 0.25rem;
}

.videoHolder p {
  font-size: 12px;
  font-weight: 400;
  color: #6a6b6c;
  max-width: 280px;
  margin-top: 0.25rem;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: #a1a1a1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.license_modal_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.delails_modal_body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  min-height: 250px;
  width: 100%;
}

.loading_container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dont_have {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: left;
  align-items: center;
  text-align: start;
  background-color: rgb(255 255 255 / 5%);
  min-height: 36px;
  border-radius: 8px;
  padding: 0 0.75rem;
  color: #a1a1a1;
}

.totalSize {
  font-size: 96px;
  font-weight: 500;
  color: rgba(107, 212, 95, 1);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.videoHolder {
  display: flex;
  justify-content: space-between;
  align-items: start;
  text-align: start;
  width: 100%;
  flex-direction: column;
  width: 300px;
  gap: 1rem;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
}

.videoHolder h3 {
  color: #efefef;
  font-size: 13px;
  font-weight: 500;
}

.preload {
  height: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.license_key {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  background-color: rgb(255 255 255 / 5%);
  min-height: 36px;
  height: 36px;
  border-radius: 8px;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  color: #a1a1a1;
}

.copy {
  color: #a1a1a1;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
}
.video_meta {
  border-radius: 16px;
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
}

.video_meta_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 32px;
}

.meta_item {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(30px) saturate(180%);
  color: rgb(255, 255, 255);
  z-index: 9999;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  padding: 8px 12px;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  font-size: 14px !important;
  width: max-content;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0);
}

.meta_label {
  font-size: 14px;
  color: #6b7280; /* серый */
  margin-bottom: 4px;
  font-weight: 500;
}

.meta_value {
  font-size: 16px;
  font-weight: 600;
  color: #111827; /* тёмно-серый */
  display: flex;
  align-items: center;
}

.status_ready {
  color: #4caf50;
}

.status_pending {
  color: #f59e0b;
}
