.Features {
  max-width: 1300px;
  width: 100%;
}

.container {
  position: relative;
  z-index: 1;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  padding: 6rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h4 {
  font-size: 3.5rem;
  letter-spacing: -0.025em;
  line-height: 100%;
  margin-bottom: 0.5rem;
  -webkit-text-stroke: 0.4px #ffffff80;
  -webkit-text-fill-color: transparent;
  text-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to right bottom,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.5)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: start;
  align-items: start;
  text-align: start;
  width: 60%;
  text-wrap: balance;
}

.title p {
  line-height: 1.5;
  font-size: 1.125rem;
  text-align: left;
  color: #f1f7feb5;
  font-weight: 400;
  margin-bottom: 3rem;
  text-wrap: balance;
}

.holder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.block {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 40px 40px 0 0;
}

.block::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px 40px 0 0;
  padding: 1px;
  background: linear-gradient(to bottom, #474747 0%, #000 15%, #000 100%);
  -webkit-mask:
    linear-gradient(#ccc 0 0) content-box,
    linear-gradient(#ccc 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 10;
}

.light {
  background:
    conic-gradient(
      from 90deg at 50% 50%,
      rgba(0, 0, 0, 0) 50%,
      rgb(0, 0, 0) 50%
    ),
    radial-gradient(rgba(200, 200, 200, 0.1) 0%, transparent 80%);
  height: 150px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.right,
.left {
  height: 350px;
  width: 100%;
}

.left {
  background-image: url("/upload.png");
  background-position: 70% 0%;
  background-size: 170%;
  background-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(
    circle at top center,
    white 0%,
    white 20%,
    transparent 70%
  );
  mask-image: radial-gradient(
    circle at top center,
    white 0%,
    white 45%,
    transparent 68%
  );
}

.right {
  background-image: url("/videos.jpg");
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  -webkit-mask-image: radial-gradient(
    circle at top center,
    white 0%,
    white 20%,
    transparent 70%
  );
  mask-image: radial-gradient(
    circle at top center,
    white 0%,
    white 45%,
    transparent 68%
  );
}

.text {
  display: flex;
  flex-direction: column;
  padding-left: 2.5rem;
  gap: 1rem;
  justify-content: start;
  text-align: start;
  align-items: start;
  color: #fcfdffef;
}

.text h3 {
  font-size: 1.25rem;
}

.text p {
  color: #f1f7feb5 !important;
  font-weight: 400;
  font-size: 0.875rem;
  max-width: 60%;
}

.text a {
  color: #fcfdffef;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.paragraph {
  max-width: 70%;
}

@media (max-width: 1000px) {
  .title h4 {
    font-size: 52px;
    max-width: 100%;
    line-height: 60px;
    width: auto;
  }

  .title p {
    max-width: 100%;
    font-size: 16px;
  }

  .holder {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .title h4 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    align-items: center;
  }

  .title p {
    max-width: 100%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .text {
    padding-left: 0;
    margin-top: -6rem;
  }

  .holder {
    gap: 6rem;
  }

  .right {
    background-position: 30% 0%;
    background-size: 150%;
  }

  .text p {
    max-width: 90% !important;
    width: 90% !important;
  }

  .container {
    padding-top: 3rem;
  }
}
