.video_holder {
  max-width: 1300px;
  width: 100%;
  position: relative;
  z-index: 0;
  margin-top: 10rem;
}

.video_holder::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 1px;
  z-index: 100;
  height: 90%;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
}

.buttons {
  flex-direction: row;
  gap: 1rem;
  display: flex;
  margin-bottom: 4rem;
}

.video_holder::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 1px;
  z-index: 100;
  height: 90%;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  aspect-ratio: 16/9;
}

.video {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.container h4 {
  max-width: 50%;
  line-height: 1.5;
  font-size: 1.125rem;
  font-weight: 400;
  color: #f1f7feb5;
  margin-bottom: 2.5rem;
  display: inline-block;
  vertical-align: top;
  text-decoration: inherit;
  text-wrap: balance;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  width: 80%;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.top h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 48px;
  --text-gradient: linear-gradient(180deg, #ffffff, #adadad);
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(#000, #111111);
}

.top::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.top p {
  font-size: 1.125rem;
  color: #f1f7feb5;
  font-weight: 400;
  text-align: center;
  text-wrap: balance;
  max-width: 70%;
  margin-bottom: 2rem;
}

/* .image {
  width: 170px;
  height: 170px;
  background-image: url("/w.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
  image-rendering: optimizeQuality;
  position: relative;
  z-index: 1;
} */

.video_player {
  display: flex;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: brightness(100%);
}

@media (max-width: 1000px) {
  .top {
    padding: 0 24px;
    margin-top: 0;
    align-items: start;
  }

  .top h3 {
    font-size: 28px;
    text-align: start;
  }

  .top p {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 2rem;
    text-align: start;
  }

  .container {
    height: auto;
  }
}

@media (max-width: 500px) {
  .video_holder {
    margin-top: 5rem;
  }

  .buttons {
    margin-bottom: 2rem;
  }
}
