/* PRIMARY BUTTON */

.primaryButton {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  height: 40px;
  padding: 0px 16px;
  background-color: #fff;
  color: #000;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
}

.primaryButton:hover {
  gap: 1rem;
}

/* POPUP */

.popup {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  z-index: 9999;
  bottom: -3rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #000;
  border: 1px solid #d6ebfd30;
  border-radius: 6px;
  max-height: 24rem;
  max-width: 250px;
  color: #fcfdffef;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  animation: moveUp 0.3s ease;
  opacity: 1;
}

.popup span {
  background-color: #d3edf81d;
  border-radius: 4px;
  border: 1px solid #d6ebfd30;
  width: 22px;
  height: 22px;
  color: #fcfdffef;
}

@keyframes moveUp {
  0% {
    opacity: 0;
    bottom: -2rem;
  }

  100% {
    opacity: 1;
    bottom: -3rem;
  }
}

/* SECONDARY BUTTON */

.secondaryButton {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  height: 40px;
  padding: 0px 16px;
  color: #fff;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  background: linear-gradient(135deg, hsl(34, 100%, 60%), hsl(338, 100%, 50%));
  box-shadow:
    -20px -10px 35px hsla(34, 100%, 60%, 0.3),
    20px 10px 35px hsla(338, 100%, 50%, 0.3);
  transition: 0.3s ease;
}
.secondaryButton:hover {
  gap: 1rem;
}
