.experience {
  max-width: 1300px;
  width: 100%;
}

.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
  border-right: 1px dashed rgba(255, 255, 255, 0.15);
}

.title {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 3rem 3rem;
  flex-direction: column;
  background-color: #0e0e0e;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140%;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.title h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: start;
  margin-bottom: 1rem;
  max-width: 50%;
  color: #fff;
  text-wrap: balance;
}

.title p {
  font-size: 1.125rem;
  color: #f1f7feb5;
  font-weight: 400;
  text-align: start;
  text-wrap: balance;
  max-width: 70%;
}

.holder {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.block:first-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
.right,
.left {
  height: 350px;
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.left {
  background-image: url("/screens.png");
  background-position: 50% 100%;
  background-size: 200%;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.right {
  background-image: url("/devices.png");
  background-position: 70% 2.5%;
  background-size: 170%;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  align-items: start;
  padding: 2rem;
  background-image: linear-gradient(#111111, #000);
}

.icon {
  margin-bottom: 1rem;
}

.text h3 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: rgb(255, 255, 255);
  margin: 0px;
  font-weight: 600;
  position: relative;
}

.text p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #888888;
  margin: 0;
  position: relative;
  max-width: 60%;
}

.text a {
  color: #fcfdffef;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 1000px) {
  .title h4 {
    max-width: 100%;
    width: auto;
    font-size: 28px;
  }

  .title p {
    max-width: 100%;
    font-size: 16px;
    text-align: start;
  }

  .holder {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .left {
    background-size: 250%;
  }

  .right {
    background-position: 64% 0%;
    background-size: 250%;
  }

  .title {
    padding: 24px;
  }

  .text {
    padding: 24px;
  }

  .text p {
    max-width: 100%;
  }
}
